<template>
  <!-- TODO: Test Faire en sorte que les boutons soient verticalement alignés en mode mobile, horizontalement alignés à partir de tablette -->
  <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 pt-24 pb-12 md:flex-row flex-col items-center">
      <div
        class="lg:flex-grow flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center w-full"
      >
        <div class="flex flex-col md:flex-row w-full">
          <div class="md:w-1/2 flex flex-col order-2 md:order-1">
            <h1 class="title-font sm:text-4xl text-3xl font-medium text-gray-900">{{ prenom }}</h1>
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{ nom }}</h1>
            <p class="mb-8 leading-relaxed">{{ description }}</p>
          </div>
          <div
            class="flex order-1 md:order-2 mx-auto md:ml-auto md:mr-0 mb-8 md:mb-0 w-20 h-20 bg-blue-500 rounded-lg"
          >
            <img class="rounded-lg shadow" alt="Ma photo" src="../assets/avatar.png" />
          </div>
        </div>
        <div class="flex flex-col md:flex-row justify-center items-center gap-4">
          <!-- Start of Stackoverflow Button -->
          <button class="button || py-4 || text-white">
            <a class="w-32 mx-auto" :href="links.github" target="_blank">
              <img
                class="flex h-16 rounded-lg"
                src="https://about.gitlab.com/images/press/logo/wm.svg"
              />
            </a>
          </button>
          <!-- End of stackoverflow button -->
          <button class="button || py-2 || text-gray-700 bg-gray-200 hover:bg-gray-300">
            <a class="mx-auto" :href="links.stackoverflow" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480.5 117.9" width="10rem">
                <path
                  class="st1"
                  d="M123.7 67.3l-4.8-.4c-3.7-.3-5.2-1.8-5.2-4.3 0-3 2.3-4.9 6.6-4.9 3.1 0 5.8.7 7.9 2.4l2.8-2.8c-2.7-2.2-6.4-3.2-10.7-3.2-6.3 0-10.9 3.3-10.9 8.7 0 4.9 3.1 7.5 8.9 8l4.9.4c3.4.3 4.9 1.7 4.9 4.3 0 3.5-3 5.2-7.9 5.2-3.7 0-6.9-1-9.2-3.4l-2.9 2.9c3.3 3.1 7.2 4.3 12.2 4.3 7.2 0 12.1-3.3 12.1-9 .1-5.8-3.5-7.7-8.7-8.2zm37.2-13.4c-4.8 0-7.8.9-10.4 4.3l2.8 2.8c1.7-2.5 3.7-3.4 7.5-3.4 5.4 0 7.6 2.2 7.6 6.5V67h-8.9c-6.6 0-10.2 3.4-10.2 8.6 0 2.4.8 4.6 2.2 6 1.9 1.9 4.3 2.7 8.4 2.7 4 0 6.1-.8 8.6-3.2V84h4.3V63.8c-.1-6.4-4-9.9-11.9-9.9zm7.5 19.6c0 2.5-.5 4.2-1.5 5.1-1.9 1.8-4.1 2-6.6 2-4.7 0-6.8-1.6-6.8-5.1 0-3.4 2.2-5.2 6.6-5.2h8.3v3.2zm21.3-15.7c2.8 0 4.6.8 6.8 3.3l2.9-2.8c-3-3.3-5.6-4.3-9.7-4.3-7.5 0-13.1 5.1-13.1 15.2s5.7 15.2 13.1 15.2c4.1 0 6.7-1.1 9.8-4.4l-3-2.8c-2.2 2.5-4 3.4-6.8 3.4-2.9 0-5.3-1.1-6.9-3.4-1.4-1.9-1.9-4.2-1.9-8 0-3.7.5-6 1.9-8 1.6-2.3 4-3.4 6.9-3.4zm37.2-3.5h-5.4L208 67.4V41.1h-4.3V84h4.3V73.2l5.3-5.3 9.9 16.1h5.4l-12.3-19.1 10.6-10.6zm20.4-1.6c-4.6 0-7.6 1.8-9.5 3.8-2.8 2.9-3.5 6.4-3.5 12s.7 9.1 3.5 12c1.9 2 5 3.8 9.5 3.8 4.6 0 7.7-1.8 9.6-3.8 2.8-2.9 3.5-6.4 3.5-12s-.7-9.1-3.5-12c-1.9-2-5.1-3.8-9.6-3.8zm3.6 23.3c-.9.9-2.1 1.4-3.6 1.4s-2.7-.5-3.6-1.4c-1.6-1.6-1.8-4.3-1.8-7.5s.2-5.9 1.8-7.5c.9-.9 2-1.4 3.6-1.4 1.5 0 2.7.5 3.6 1.4 1.6 1.6 1.8 4.3 1.8 7.5s-.2 5.9-1.8 7.5zm30-22.9l-6.2 19.1-6.3-19.1h-8.1L271.7 84h6L289 53.1h-8.1zm21.3-.4c-8 0-13.5 5.7-13.5 15.8 0 12.5 7 15.8 14.3 15.8 5.6 0 8.6-1.7 11.7-4.9l-4.7-4.6c-2 2-3.6 2.9-7 2.9-4.3 0-6.8-2.9-6.8-6.9h19.3v-3.4c.1-8.4-4.8-14.7-13.3-14.7zm-5.9 12.9c.1-1.4.2-2.2.7-3.3.8-1.8 2.5-3.2 5.2-3.2 2.6 0 4.3 1.4 5.2 3.2.5 1.1.7 2 .7 3.3h-11.8zM327 56v-3h-7.5v31h7.7V65.4c0-3.9 2.6-5.7 5-5.7 1.9 0 2.9.6 4.1 1.8l5.8-5.8c-2.1-2.1-4.3-2.9-7.3-2.9-3.4-.1-6.3 1.5-7.8 3.2zm17.4-6.1V84h7.7V59.6h5.7v-5.9h-5.7v-3.4c0-1.8.9-2.8 2.7-2.8h3V41h-4.4c-6.2 0-9 4.5-9 8.9zm45.2 2.8c-4.6 0-7.6 1.8-9.5 3.8-2.8 2.9-3.5 6.4-3.5 12s.7 9.1 3.5 12c1.9 2 5 3.8 9.5 3.8 4.6 0 7.7-1.8 9.6-3.8 2.8-2.9 3.5-6.4 3.5-12s-.7-9.1-3.5-12c-1.9-2-5.1-3.8-9.6-3.8zm3.6 23.3c-.9.9-2.1 1.4-3.6 1.4s-2.7-.5-3.6-1.4c-1.6-1.6-1.8-4.3-1.8-7.5s.2-5.9 1.8-7.5c.9-.9 2-1.4 3.6-1.4 1.5 0 2.7.5 3.6 1.4 1.6 1.6 1.8 4.3 1.8 7.5s-.2 5.9-1.8 7.5zm45.9-22.9l-5 19.1-6.3-19.1h-5.6l-6.3 19.1-5-19.1h-8.2l9.5 30.9h6.3l6.5-19.4 6.5 19.4h6.3l9.4-30.9h-8.1zm-69.9 21.6V41h-7.7v34.1c0 4.4 2.7 8.8 9 8.8h4.4v-6.5h-3c-1.9 0-2.7-.9-2.7-2.7zM144.5 59l4-4h-8.2v-9.8H136V76c0 4.4 2.5 8 7.6 8h3.1v-3.7h-2.3c-2.8 0-4-1.6-4-4.3V59h4.1z"
                />
                <path class="st1" d="M87.6 91.3v-22H95v29.3H29.1V69.3h7.3v22z" />
                <path
                  class="st2"
                  d="M44.5 67.3l35.9 7.5 1.5-7.2L46 60.1l-1.5 7.2zm4.7-17.2l33.2 15.5 3.1-6.6-33.2-15.6-3.1 6.7zm9.2-16.3l28.2 23.4 4.7-5.6-28.2-23.4-4.7 5.6zm18.2-17.3l-5.9 4.4 21.9 29.4 5.9-4.4-21.9-29.4zM43.7 83.9h36.6v-7.3H43.7v7.3z"
                />
              </svg>
            </a>
          </button>
          <button class="button || py-2 || text-gray-700 bg-gray-200 hover:bg-gray-300">
            <a class="flex w-20 mx-auto" :href="links.linkedln" target="_blank">
              <linkedin-logo class="h-8" />
            </a>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import LinkedinLogo from "./LinkedinLogo.vue";
export default {
  data() {
    return {
      prenom: "Guillaume",
      nom: "Charbonnier",
      description: "Open Source enthusiast, I've been working at Capgemini since January 2017. After 6 months in the Insight & Data team, I joined the MONSOON (https://www.spire2030.eu/monsoon) project as a Software Engineer until 2019. I'm now a technical leader on projects that leverage data sciecne, IoT, and distributed systems.",
      links: {

        github: "https://gitlab.com/gu.charbon",
        stackoverflow: "https://stackoverflow.com/users/story/7786148",
        linkedln: "https://fr.linkedin.com/in/gcharbon"
      }
    };
  },
  components: {
    LinkedinLogo
  }
};
</script>

<style scoped>
.st0 {
  fill: #222426;
}
.st1 {
  fill: #bcbbbb;
}
.st2 {
  fill: #f48024;
}
.button {
  width: 12rem;
  font-size: 1.25rem;
  display: inline-flex;
  border-width: 0rem;
  border-radius: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
}
.button:focus {
  outline: 0;
}
</style>