<template>
  <div
    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
  >
    <div
      class="flex-grow sm:text-left text-center mt-6 sm:mt-0"
      :class="{'md:order-last ml-8': order === 'right', 'mr-4': order !== 'right' }"
    >
      <h2 class="text-gray-900 text-lg title-font font-medium mb-2">{{ experience.label }}</h2>
      <p class="leading-relaxed text-base mb-4">{{ experience.description }}</p>
      <div>
        <key-word v-for="tag in experience.tags" :key="tag.tag" :tag="tag.tag" :icon="tag.icon"></key-word>
      </div>
    </div>
    <div
      class="sm:w-32 sm:h-32 h-20 w-20 | inline-flex items-center justify-center flex-shrink-0 | rounded-full bg-indigo-100 text-indigo-500 | sm:order-none order-first"
    >
      <slot></slot>
    </div>
  </div>
</template>

<script>
import KeyWord from "./KeyWord.vue";
export default {
  components: {
    KeyWord
  },
  props: ["experience", "order"]
};
</script>