<template>
  <div class="inline-block">
    <p
      class="inline-flex mr-2 mb-2 items-center | px-3 py-1 bg-gray-200 rounded-full | text-sm font-semibold text-gray-700 cursor-pointer"
    >
      <span class="mr-1 mt-1">
        <ion-icon :name="icon"></ion-icon>
      </span>
      <span>{{ tag }}</span>
    </p>
  </div>
</template>
<script>
export default {
  props: ["tag", "icon"],
};
</script>