<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 64 64">
    <path
      fill="#b4dd7f"
      d="M23 2c3.31 0 6 2.69 6 6 0 .13 0 .26-.02.39-.2 3.13-2.8 5.61-5.98 5.61-3.31 0-6-2.69-6-6s2.69-6 6-6zM54 4c3.31 0 6 2.69 6 6s-2.69 6-6 6c-1.42 0-2.72-.49-3.75-1.32A5.994 5.994 0 0148 10c0-.13 0-.26.02-.39C48.22 6.48 50.82 4 54 4z"
    />
    <circle cx="23" cy="8" r="2" fill="#ffc729" />
    <circle cx="54" cy="10" r="2" fill="#ffc729" />
    <path
      fill="#e6e9ed"
      d="M6 24c-2.21 0-4-1.79-4-4 0-1.1.45-2.1 1.17-2.83C3.9 16.45 4.9 16 6 16h4c2.21 0 4 1.79 4 4v4zM60.83 21.17C61.55 21.9 62 22.9 62 24c0 2.21-1.79 4-4 4h-8v-4c0-2.21 1.79-4 4-4h4c1.1 0 2.1.45 2.83 1.17z"
    />
    <path
      fill="#ffc729"
      d="M49 32v6h-6.41c.27-.95.41-1.96.41-3 0-6.08-4.92-11-11-11s-11 4.92-11 11c0 1.04.14 2.05.41 3H15v-6l2.45-.58c.36-1.49.95-2.9 1.73-4.18l-1.32-2.14 4.24-4.24 2.14 1.32c1.28-.78 2.69-1.37 4.18-1.73L29 18h6l.58 2.45c1.49.36 2.9.95 4.18 1.73l2.14-1.32 4.24 4.24-1.32 2.14c.78 1.28 1.37 2.69 1.73 4.18z"
    />
    <path
      fill="#fcd770"
      d="M43 35c0 1.04-.14 2.05-.41 3H36c.63-.83 1-1.87 1-3 0-2.76-2.24-5-5-5a5.002 5.002 0 00-4 8h-6.59c-.27-.95-.41-1.96-.41-3 0-6.08 4.92-11 11-11s11 4.92 11 11z"
    />
    <path fill="#cf9e76" d="M38 46l-4-8h-2l-4 8H7v16h50V46z" />
    <path fill="#b27946" d="M32 38l-4 8H3l4-8h21zM36 38h21l4 8H38l-4-8z" />
    <path fill="#fcd770" d="M11 50h18v8H11z" />
    <path
      d="M57.618 37H50v-5.792l-2.635-.62a15.904 15.904 0 00-1.381-3.332l1.425-2.302-2.273-2.273 5.322-6.653A6.957 6.957 0 0054 17c3.86 0 7-3.14 7-7s-3.14-7-7-7c-3.365 0-6.181 2.387-6.848 5.556l-17.18-1.108C29.689 3.846 26.673 1 23 1c-3.86 0-7 3.14-7 7s3.14 7 7 7c3.365 0 6.181-2.387 6.848-5.556l17.18 1.108a6.965 6.965 0 001.87 4.225l-5.184 6.481-1.667-1.667-2.302 1.425a15.908 15.908 0 00-3.332-1.382L35.792 17h-7.584l-.62 2.634c-1.16.333-2.276.795-3.332 1.382l-2.302-1.425-5.363 5.363 1.425 2.302a15.908 15.908 0 00-1.382 3.332l-2.634.62V37H6.382l-5 10H6v16h52V47h4.618zM54 5c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5 2.243-5 5-5zm-31 8c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm36.382 32H38.618l-3-6h20.764zm-30.835-8A3.956 3.956 0 0128 35c0-2.206 1.794-4 4-4s4 1.794 4 4c0 .714-.194 1.393-.546 2zm-6.323 0A10.079 10.079 0 0122 35c0-5.514 4.486-10 10-10s10 4.486 10 10c0 .677-.091 1.343-.224 2h-4.124A5.983 5.983 0 0038 35c0-3.309-2.691-6-6-6s-6 2.691-6 6c0 .692.123 1.364.349 2zM16 32.792l2.272-.535.146-.595a13.89 13.89 0 011.619-3.904l.318-.524-1.229-1.986 3.123-3.123 1.986 1.229.524-.318a13.908 13.908 0 013.904-1.619l.595-.146.534-2.271h4.416l.535 2.272.595.146a13.89 13.89 0 013.904 1.619l.524.318 1.986-1.229 3.123 3.123-1.229 1.986.318.524a13.913 13.913 0 011.619 3.904l.146.595 2.271.534V37h-4.173c.11-.659.173-1.327.173-2 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 .673.063 1.341.173 2H16zM7.618 39h22.764l-3 6H4.618zM8 47h20.618L32 40.236V61H8zm48 14H34V40.236L37.382 47H56z"
    />
    <path
      d="M54 13c1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3 1.346 3 3 3zm0-4c.551 0 1 .449 1 1s-.449 1-1 1-1-.449-1-1 .449-1 1-1zM23 5c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3zm0 4c-.551 0-1-.449-1-1s.449-1 1-1 1 .449 1 1-.449 1-1 1zM6 25h9v-5c0-2.757-2.243-5-5-5H6c-2.757 0-5 2.243-5 5s2.243 5 5 5zm0-8h4c1.654 0 3 1.346 3 3v3H6c-1.654 0-3-1.346-3-3s1.346-3 3-3z"
    />
    <path
      d="M5 19h2v2H5zM9 19h2v2H9zM54 19c-2.757 0-5 2.243-5 5v5h9c2.757 0 5-2.243 5-5s-2.243-5-5-5zm7 5c0 1.654-1.346 3-3 3h-7v-3c0-1.654 1.346-3 3-3h4c1.654 0 3 1.346 3 3z"
    />
    <path d="M57 23h2v2h-2zM53 23h2v2h-2zM10 49v10h20V49zm18 8H12v-6h16z" />
    <path
      d="M24 53h2v2h-2zM20 53h2v2h-2zM16 53h2v2h-2zM52 57h2v2h-2zM48 57h2v2h-2zM44 57h2v2h-2zM44 53h10v2H44z"
    />
  </svg>
</template>