<template>
  <svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
    <path d="m186.277344 421.03125h138.875v41.859375h-138.875zm0 0" fill="#5a5a5a" />
    <path
      d="m478.453125 421.03125h-445.472656c-14.078125 0-25.488281-11.410156-25.488281-25.484375v-362.566406c0-14.078125 11.410156-25.488281 25.488281-25.488281h445.472656c14.074219 0 25.484375 11.410156 25.484375 25.488281v362.566406c0 14.074219-11.410156 25.484375-25.484375 25.484375zm0 0"
      fill="#ffd86e"
    />
    <path
      d="m503.941406 32.980469v362.566406c0 14.074219-11.410156 25.484375-25.484375 25.484375h-31.132812c14.078125 0 25.484375-11.410156 25.484375-25.484375v-362.566406c0-14.074219-11.40625-25.484375-25.484375-25.484375h31.132812c14.074219 0 25.484375 11.410156 25.484375 25.484375zm0 0"
      fill="#ffb509"
    />
    <path
      d="m503.9375 359.628906h-496.445312v35.917969c0 14.074219 11.410156 25.484375 25.488281 25.484375h445.472656c14.074219 0 25.484375-11.410156 25.484375-25.484375zm0 0"
      fill="#838383"
    />
    <path
      d="m503.941406 359.628906v35.917969c0 14.074219-11.410156 25.484375-25.484375 25.484375h-31.132812c14.078125 0 25.484375-11.410156 25.484375-25.484375v-35.917969zm0 0"
      fill="#5a5a5a"
    />
    <path
      d="m504.507812 94.433594h-496.460937v-61.457032c0-14.074218 11.410156-25.484374 25.484375-25.484374h445.492188c14.074218 0 25.484374 11.410156 25.484374 25.484374zm0 0"
      fill="#acacac"
    />
    <path
      d="m504.796875 32.515625v61.464844h-31.703125v-61.464844c0-14.066406-11.410156-25.476563-25.488281-25.476563h31.703125c14.078125 0 25.488281 11.410157 25.488281 25.476563zm0 0"
      fill="#9c9c9c"
    />
    <path
      d="m69.757812 50.75c0 8.007812-6.488281 14.5-14.496093 14.5-8.007813 0-14.496094-6.492188-14.496094-14.5 0-8.003906 6.488281-14.496094 14.496094-14.496094 8.007812 0 14.496093 6.492188 14.496093 14.496094zm0 0"
      fill="#ff6b81"
    />
    <path
      d="m125.746094 50.75c0 8.007812-6.492188 14.5-14.496094 14.5-8.007812 0-14.5-6.492188-14.5-14.5 0-8.003906 6.492188-14.496094 14.5-14.496094 8.003906 0 14.496094 6.492188 14.496094 14.496094zm0 0"
      fill="#ffd86e"
    />
    <path
      d="m181.730469 50.75c0 8.007812-6.488281 14.5-14.496094 14.5-8.003906 0-14.496094-6.492188-14.496094-14.5 0-8.003906 6.492188-14.496094 14.496094-14.496094 8.007813 0 14.496094 6.492188 14.496094 14.496094zm0 0"
      fill="#80e0dc"
    />
    <path
      d="m69.753906 50.757812c0 8-6.484375 14.484376-14.488281 14.484376-3.875 0-7.402344-1.519532-10-4.003907 7.84375-.171875 14.15625-6.585937 14.15625-14.476562 0-4.136719-1.726563-7.855469-4.496094-10.492188.113281-.011719.230469-.011719.339844-.011719 8.003906 0 14.488281 6.484376 14.488281 14.5zm0 0"
      fill="#ff435f"
    />
    <path
      d="m125.742188 50.757812c0 8-6.484376 14.484376-14.496094 14.484376-3.875 0-7.394532-1.519532-10-4.003907 7.851562-.171875 14.167968-6.585937 14.167968-14.476562 0-4.136719-1.730468-7.855469-4.496093-10.492188.109375-.011719.21875-.011719.328125-.011719 8.011718 0 14.496094 6.484376 14.496094 14.5zm0 0"
      fill="#ffb509"
    />
    <path
      d="m181.734375 50.757812c0 8-6.496094 14.484376-14.5 14.484376-3.875 0-7.390625-1.519532-10-4.003907 7.855469-.171875 14.15625-6.585937 14.15625-14.476562 0-4.136719-1.726563-7.855469-4.496094-10.492188.113281-.011719.230469-.011719.339844-.011719 8.003906 0 14.5 6.484376 14.5 14.5zm0 0"
      fill="#00a8b0"
    />
    <path
      d="m370.152344 503.953125h-228.875c-2.757813 0-4.996094-2.234375-4.996094-4.996094v-16.1875c0-10.976562 8.902344-19.875 19.878906-19.875h199.113282c10.976562 0 19.875 8.898438 19.875 19.875v16.1875c0 2.761719-2.234376 4.996094-4.996094 4.996094zm0 0"
      fill="#838383"
    />
    <path
      d="m375.148438 482.765625v16.195313c0 2.757812-2.238282 4.996093-4.996094 4.996093h-17.632813v-21.191406c0-10.96875-8.902343-19.871094-19.871093-19.871094h22.628906c10.972656 0 19.871094 8.898438 19.871094 19.871094zm0 0"
      fill="#5a5a5a"
    />
    <path
      d="m203.566406 325.414062h-.589844c-7.699218 0-13.945312-6.242187-13.945312-13.945312v-43.179688c0-7.699218 6.242188-13.945312 13.945312-13.945312h.589844c7.703125 0 13.949219 6.242188 13.949219 13.945312v43.179688c0 7.703125-6.246094 13.945312-13.949219 13.945312zm0 0"
      fill="#ff6b81"
    />
    <path
      d="m468.992188 273.027344h-.589844c-7.703125 0-13.945313-6.242188-13.945313-13.945313v-43.179687c0-7.699219 6.242188-13.945313 13.945313-13.945313h.589844c7.703124 0 13.945312 6.242188 13.945312 13.945313v43.179687c0 7.703125-6.242188 13.945313-13.945312 13.945313zm0 0"
      fill="#ff6b81"
    />
    <path
      d="m217.519531 268.289062v43.183594c0 7.703125-6.246093 13.945313-13.949219 13.945313h-.589843c-2.375 0-4.613281-.589844-6.574219-1.636719 4.386719-2.359375 7.375-6.984375 7.375-12.308594v-43.183594c0-5.324218-2.988281-9.949218-7.375-12.296874 1.960938-1.058594 4.199219-1.648438 6.574219-1.648438h.589843c7.703126 0 13.949219 6.242188 13.949219 13.945312zm0 0"
      fill="#ff435f"
    />
    <path
      d="m482.9375 215.90625v43.171875c0 7.703125-6.242188 13.949219-13.945312 13.949219h-.589844c-2.367188 0-4.605469-.589844-6.5625-1.640625 4.382812-2.359375 7.363281-6.984375 7.363281-12.308594v-43.171875c0-5.324219-2.980469-9.949219-7.363281-12.308594 1.957031-1.046875 4.195312-1.636718 6.5625-1.636718h.589844c7.703124 0 13.945312 6.242187 13.945312 13.945312zm0 0"
      fill="#ff435f"
    />
    <path
      d="m184.351562 94.433594v104.761718c0 11.398438 9.238282 20.636719 20.636719 20.636719 11.394531 0 20.632813-9.238281 20.632813-20.636719v-26.460937c0-9.34375 7.574218-16.914063 16.914062-16.914063s16.910156 7.574219 16.910156 16.914063v135.554687h93.285157v-98.386718c0-8.914063 7.230469-16.144532 16.144531-16.144532 8.917969 0 16.144531 7.230469 16.144531 16.144532v14.121094c0 10.722656 8.691407 19.414062 19.414063 19.414062s19.414062-8.691406 19.414062-19.414062v-129.589844zm0 0"
      fill="#ff6b81"
    />
    <path
      d="m423.851562 94.4375v129.582031c0 5.367188-2.175781 10.210938-5.683593 13.726563-3.515625 3.507812-8.371094 5.6875-13.738281 5.6875-2.9375 0-5.734376-.660156-8.230469-1.839844 2.046875-.957031 3.90625-2.269531 5.484375-3.847656 3.503906-3.515625 5.683594-8.359375 5.683594-13.726563v-129.582031zm0 0"
      fill="#ff435f"
    />
    <path d="m259.445312 308.054688h93.289063v62.746093h-93.289063zm0 0" fill="#80e0dc" />
    <path
      d="m352.734375 370.5625h-93.289063v19.492188c0 8.074218 6.546876 14.621093 14.625 14.621093h.339844c8.078125 0 14.625 6.546875 14.625 14.621094v58.574219c0 9.421875 7.636719 17.054687 17.054688 17.054687 9.417968 0 17.054687-7.632812 17.054687-17.054687v-58.574219c0-8.074219 6.546875-14.621094 14.625-14.621094h.339844c8.078125 0 14.625-6.546875 14.625-14.621093zm0 0"
      fill="#e7e7e7"
    />
    <path
      d="m55.261719 28.761719c-12.125 0-21.988281 9.867187-21.988281 21.992187s9.863281 21.988282 21.988281 21.988282 21.992187-9.863282 21.992187-21.988282-9.867187-21.992187-21.992187-21.992187zm0 28.992187c-3.859375 0-7.003907-3.140625-7.003907-7.003906 0-3.859375 3.144532-7.003906 7.003907-7.003906 3.863281 0 7.003906 3.144531 7.003906 7.003906 0 3.863281-3.140625 7.003906-7.003906 7.003906zm0 0"
    />
    <path
      d="m111.25 28.761719c-12.125 0-21.992188 9.867187-21.992188 21.992187s9.867188 21.988282 21.992188 21.988282 21.988281-9.863282 21.988281-21.988282-9.863281-21.992187-21.988281-21.992187zm0 28.992187c-3.863281 0-7.003906-3.140625-7.003906-7.003906 0-3.859375 3.140625-7.003906 7.003906-7.003906 3.859375 0 7.003906 3.144531 7.003906 7.003906 0 3.863281-3.144531 7.003906-7.003906 7.003906zm0 0"
    />
    <path
      d="m167.234375 28.761719c-12.125 0-21.988281 9.867187-21.988281 21.992187s9.863281 21.988282 21.988281 21.988282 21.988281-9.863282 21.988281-21.988282-9.863281-21.992187-21.988281-21.992187zm0 28.992187c-3.859375 0-7.003906-3.140625-7.003906-7.003906 0-3.859375 3.144531-7.003906 7.003906-7.003906 3.863281 0 7.003906 3.144531 7.003906 7.003906 0 3.863281-3.140625 7.003906-7.003906 7.003906zm0 0"
    />
    <path
      d="m40.910156 136.789062h19.929688c4.140625 0 7.496094-3.355468 7.496094-7.492187 0-4.140625-3.355469-7.496094-7.496094-7.496094h-19.929688c-4.136718 0-7.492187 3.355469-7.492187 7.496094 0 4.136719 3.355469 7.492187 7.492187 7.492187zm0 0"
    />
    <path
      d="m116.34375 129.296875c0-4.140625-3.355469-7.496094-7.496094-7.496094h-22.6875c-4.140625 0-7.496094 3.355469-7.496094 7.496094 0 4.136719 3.355469 7.492187 7.496094 7.492187h22.6875c4.140625 0 7.496094-3.355468 7.496094-7.492187zm0 0"
    />
    <path
      d="m152.738281 154.773438h-58.878906c-4.136719 0-7.492187 3.351562-7.492187 7.492187s3.355468 7.492187 7.492187 7.492187h58.878906c4.136719 0 7.492188-3.351562 7.492188-7.492187s-3.351563-7.492187-7.492188-7.492187zm0 0"
    />
    <path
      d="m69.757812 154.773438h-28.847656c-4.136718 0-7.492187 3.351562-7.492187 7.492187s3.355469 7.492187 7.492187 7.492187h28.847656c4.140626 0 7.496094-3.351562 7.496094-7.492187s-3.359375-7.492187-7.496094-7.492187zm0 0"
    />
    <path
      d="m203.566406 246.851562h-.589844c-11.820312 0-21.4375 9.617188-21.4375 21.441407v43.175781c0 11.820312 9.617188 21.4375 21.4375 21.4375h.589844c11.824219 0 21.441406-9.617188 21.441406-21.4375v-43.175781c0-11.824219-9.617187-21.441407-21.441406-21.441407zm6.453125 64.617188c0 3.558594-2.894531 6.453125-6.453125 6.453125h-.589844c-3.554687 0-6.449218-2.894531-6.449218-6.453125v-43.175781c0-3.558594 2.894531-6.453125 6.449218-6.453125h.589844c3.558594 0 6.453125 2.894531 6.453125 6.453125zm0 0"
    />
    <path
      d="m468.402344 280.519531h.589844c11.820312 0 21.4375-9.617187 21.4375-21.4375v-43.175781c0-11.824219-9.617188-21.441406-21.4375-21.441406h-.589844c-11.820313 0-21.4375 9.617187-21.4375 21.441406v43.175781c0 11.820313 9.617187 21.4375 21.4375 21.4375zm-6.453125-64.613281c0-3.558594 2.894531-6.453125 6.453125-6.453125h.589844c3.558593 0 6.453124 2.894531 6.453124 6.453125v43.175781c0 3.558594-2.894531 6.453125-6.453124 6.453125h-.589844c-3.558594 0-6.453125-2.894531-6.453125-6.453125zm0 0"
    />
    <path
      d="m479.023438 0h-446.042969c-18.1875 0-32.980469 14.792969-32.980469 32.980469v362.566406c0 18.183594 14.792969 32.976563 32.980469 32.976563h41.683593c4.136719 0 7.492188-3.351563 7.492188-7.492188 0-4.136719-3.355469-7.492188-7.492188-7.492188h-41.683593c-9.921875 0-17.992188-8.070312-17.992188-17.992187v-28.421875h236.964844v22.929688c0 12.195312 9.921875 22.117187 22.117187 22.117187h.339844c1.566406 0 3.007813.511719 4.1875 1.367187h-156.476562c-4.136719 0-7.492188 3.355469-7.492188 7.492188 0 4.140625 3.355469 7.496094 7.492188 7.496094h56.664062v26.871094h-22.625c-15.09375 0-27.371094 12.28125-27.371094 27.371093v16.191407c0 6.886718 5.601563 12.488281 12.488282 12.488281h228.875c6.886718 0 12.488281-5.601563 12.488281-12.488281v-16.191407c0-15.089843-12.277344-27.371093-27.371094-27.371093h-24.632812v-26.871094h147.816406c18.183594 0 32.976563-14.796875 32.976563-32.980469v-298.25c.367187-.882813.570312-1.847656.570312-2.863281v-61.457032c0-18.183593-14.792969-32.976562-32.976562-32.976562zm-227.070313 352.136719h-236.964844v-250.207031h161.871094v97.265624c0 15.511719 12.617187 28.128907 28.128906 28.128907 15.507813 0 28.128907-12.617188 28.128907-28.128907v-26.460937c0-5.195313 4.226562-9.417969 9.417968-9.417969s9.417969 4.222656 9.417969 9.417969zm-58.179687 76.386719h87.765624v26.875h-87.765624zm-49.996094 67.9375v-13.691407c0-6.828125 5.554687-12.382812 12.382812-12.382812h125.378906v7.484375c0 7.425781 3.320313 14.085937 8.542969 18.589844zm211.496094-26.074219c6.828124 0 12.382812 5.554687 12.382812 12.382812v13.691407h-45.558594c5.226563-4.503907 8.542969-11.164063 8.542969-18.589844v-7.484375zm-39.621094-51.089844v58.574219c0 5.273437-4.289063 9.5625-9.5625 9.5625-5.273438 0-9.5625-4.289063-9.5625-9.5625v-58.574219c0-12.195313-9.921875-22.117187-22.113282-22.117187h-.34375c-3.929687 0-7.128906-3.195313-7.128906-7.128907v-11.757812h78.300782v11.757812c0 3.933594-3.199219 7.128907-7.128907 7.128907h-.34375c-12.195312.003906-22.117187 9.921874-22.117187 22.117187zm-48.710938-56.226563v-47.285156h78.300782v47.285156zm229.503906 32.476563c0 9.921875-8.070312 17.992187-17.992187 17.992187h-144.867187c1.175781-.859374 2.617187-1.371093 4.183593-1.371093h.339844c12.195313 0 22.117187-9.921875 22.117187-22.113281v-22.929688h136.21875zm0-43.410156h-136.21875v-81.09375c0-4.136719-3.355468-7.492188-7.492187-7.492188-4.140625 0-7.496094 3.355469-7.496094 7.492188v29.519531h-78.300781v-127.828125c0-13.457031-10.945312-24.40625-24.402344-24.40625-13.457031 0-24.40625 10.949219-24.40625 24.40625v26.460937c0 7.25-5.894531 13.144532-13.140625 13.144532-7.246093 0-13.144531-5.894532-13.144531-13.144532v-97.265624h224.511719v122.09375c0 6.570312-5.347657 11.917968-11.921875 11.917968-6.574219 0-11.921875-5.347656-11.921875-11.917968v-14.121094c0-13.03125-10.601563-23.636719-23.636719-23.636719-13.03125 0-23.636719 10.605469-23.636719 23.636719v15.847656c0 4.140625 3.355469 7.496094 7.492188 7.496094 4.140625 0 7.496093-3.355469 7.496093-7.496094v-15.847656c0-4.769532 3.878907-8.648438 8.648438-8.648438s8.648438 3.878906 8.648438 8.648438v14.121094c0 14.835937 12.074218 26.90625 26.910156 26.90625 14.835937 0 26.90625-12.070313 26.90625-26.90625v-122.09375h65.105468zm0-265.195313h-480.90625v-53.964844c0-9.921874 8.070313-17.992187 17.992188-17.992187h444.921875c9.921875 0 17.992187 8.074219 17.992187 17.996094zm0 0"
    />
  </svg>
</template>