<template>
  <div class="container mx-auto px-4 md:px-8 lg:px-12 xl:px-0 min-h-screen">
    <about-me />
    <my-experiences />
  </div>
</template>
<script>
import AboutMe from "./components/AboutMe.vue";
import MyExperiences from "./components/MyExperiences.vue";
export default {
  name: "App",
  components: {
    AboutMe,
    MyExperiences
  }
};
</script>